<events>
	<entry>
			<when>1472067054913</when>
			<data>received system profile (2 applications)</data>
	</entry>
	<entry>
			<when>1472067091917</when>
			<data>received system profile (2 applications)</data>
	</entry>
	<entry>
			<when>1472069089078</when>
			<data>received system profile (8 applications)</data>
	</entry>
	<entry>
			<when>1472071557988</when>
			<data>received system profile (2 applications)</data>
	</entry>
	<entry>
			<when>1472076868439</when>
			<data>received system profile (9 applications)</data>
	</entry>
	<entry>
			<when>1472076918147</when>
			<data>received system profile (9 applications)</data>
	</entry>
	<entry>
			<when>1472090607656</when>
			<data>received system profile (2 applications)</data>
	</entry>
	<entry>
			<when>1472194416979</when>
			<data>received system profile (2 applications)</data>
	</entry>
	<entry>
			<when>1472194417191</when>
			<data>received system profile (2 applications)</data>
	</entry>
	<entry>
			<when>1472194418251</when>
			<data>received system profile (2 applications)</data>
	</entry>
	<entry>
			<when>1472213115823</when>
			<data>received system profile (2 applications)</data>
	</entry>
	<entry>
			<when>1472242718203</when>
			<data>received system profile (2 applications)</data>
	</entry>
	<entry>
			<when>1472370228515</when>
			<data>received system profile (2 applications)</data>
	</entry>
	<entry>
			<when>1472370295173</when>
			<data>received system profile (2 applications)</data>
	</entry>
</events>
